
	.xfce4-panel button,
	.genmon_plugin,
	#docklike-plugin .group {
	    transition: 0.2s;
	    border-radius: 3;
	    margin: 5;
	    background-color: rgba(255,255,255,0.04);
	}
	
	.xfce4-panel.background .tasklist button {
    font-size: 12px;
	}
	
	.xfce4-panel.background button:active, 
	.xfce4-panel.background button:hover, 
	.xfce4-panel.background button:active:hover, 
	.xfce4-panel.background .tasklist button:active,
	.xfce4-panel.background .tasklist button:hover, 
	.xfce4-panel.background .tasklist button:active:hover,
	#docklike-plugin .hover_group {
 	    background-color: rgba(255,255,255,0.07);
	}
	
	.xfce4-panel button:checked {
	    background-color: rgba(255,255,255,0.1);
	}
	
 	.genmon_plugin {
	    padding: 5px;
	}
	.genmon_plugin image {
	    margin-left: 5px;
	}
 	.genmon_plugin label {
	    padding: 5px;
	}
